@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFFFF;
  --foreground: #333333;
  --card: #F5F5F5;
}

.dark {
  --background: #333333;
  --foreground: #FFFFFF;
  --card: #444444;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "NunitoSans", sans-serif;
}
